%p#notice= notice

= link_to 'Edit', edit_report_path(@report)
\|
= link_to 'Back', reports_path

%p
  %h1= @report.name

%p
  %b Taxa:
  %table
    %tbody
      - @report.taxon_items.each do |row|
        %tr
          - row.each do |column|
            %td= link_or_text(column)

= link_to 'Edit', edit_report_path(@report)
\|
= link_to 'Back', reports_path
